<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.github.ryanhoo.firFlight">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- BugHD -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- For update receiver -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ff.app.name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".FlightApplication">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/FFTheme.Splash"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:label="@string/ff.app.name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/FFTheme.Main"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.signin.SignInActivity"
            android:launchMode="singleTask"
            android:theme="@style/FFTheme.SignIn"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"
            android:screenOrientation="portrait"
            />

        <receiver android:name=".receiver.SystemPackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.FlightReceiver">
            <intent-filter>
                <action android:name="io.github.ryanhoo.action.UPDATE"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".service.FlightService"
            android:exported="false"/>

        <meta-data
            android:name="io.github.ryanhoo.firFlight.GlideConfiguration"
            android:value="GlideModule"/>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="80257c1022a7c853ec8f1e2537d2b571"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a044e88fbe26d5bb3256954e3721393d4ef7b89e"/>

        <meta-data
            android:name="FLIGHT_FLAVOR_NAME"
            android:value="${flightFlavorName}"/>
    </application>

</manifest>